<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="PopulateBean.Student" id="student">
        <constructor-arg index="0" value="test"/>
    </bean>
    <bean class="PopulateBean.TestBean" id="testBean">
        <property name="student" ref="student"/>
    </bean>

</beans>
